/*
    Asset: Buttons
*/

.btn,
%btn {
    font: inherit;
    cursor: pointer;
    border: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    padding: .5em;
    line-height: 1;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}