/*
    Asset: Nav
*/

.nav,
%nav {
    list-style: none;
    margin-left: 0;

    > li {

        &,
        > a {
            display: inline-block;
            *display: inline;
            zoom: 1;
        }
    }
}

.nav--stacked,
%nav--stacked {

    > li {
        display: list-item;

        > a {
            display: block;
        }
    }
}

.nav--fit,
%nav--fit {
    width: 100%;

    > li {
        display: block;

        > a {
            display: block;
        }
    }
}
