/*
    Module: Base
*/

html,
body {
    height: 100%;
}

body {
    @include base-font();
    font-weight: $weight__norm;
    color: $color__grey;
    background-color: $color__white;

    &:before {
        content: '';
        display: block;
        height: 8px;
        background-color: $color__red;
        animation: header__bar .8s ease-in-out;
    }
}