/*
    Module: Base
*/

html,
body {
    height: 100%;
}

body {
    @include base-font();
    font-weight: $weight__norm;
    color: $color__grey;
    background-color: $color__white;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 5px;
        width: 100%;
        background-color: $color__red;
        animation: header__load .5s cubic-bezier(0, .98, 1, .02);
    }
}
