/*
    Module: Footer
*/

.page-footer {
    @extend %box--grey;
    @include font-size($size__xs);
    padding-top: $base__spacing--half;
    padding-bottom: $base__spacing--half;

    a {
        color: $color__dark--soft;

        &:hover {
            color: $color__red;
        }
    }

    p {
        margin-bottom: 0;
    }

    .nav {
        margin-bottom: $base__spacing--half / 2;

        &__item {
            margin-right: 6px;
        }
    }
}
