/*
    Module: Info
*/

$logo__size: 90px;

.page-info {
    @include font-size($size__m, 1.6);
    color: $color__grey--soft;

    [data-tooltip] {
        color: $color__red;
        cursor: help;

        &:hover {
            color: $color__grey;
        }
    }

    @include breakpoint(bp-1) {
        margin-bottom: $base__spacing * 3;
    }

    @include breakpoint(bp-3) {
        @include font-size($size__s);
    }
}

.page-info__logo {
    background-image: url(../img/chrisb.png);
    background-size: 100%;
    width: $logo__size;
    height: $logo__size;
    border-radius: 50%;
    margin-bottom: $base__spacing--half;
    border: 3px solid $color__white;
    box-shadow: 0px 0px 1px 0px hsla(0, 0%, 30%, .8);

    > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    @include breakpoint(bp-retina) {
        background-image: url(../img/chrisb@2x.png);
    }

    @include breakpoint(bp-1) {
        margin-left: auto;
        margin-right: auto;
    }
}
