/*
    Module: Post
*/

.post {
    @include font-size($size__m, 1.7);
    color: $color__grey;
    margin-bottom: $base__spacing * 6;

    &:last-of-type {
        margin-bottom: $base__spacing * 5;
    }

    a {
        color: $color__red;

        &:hover {
            color: $color__grey;
        }
    }

    > figure {
        box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, .4);

        &.shadow--off {
            box-shadow: none;
        }
    }

    > pre {
        tab-size: 4;
        background-color: $color__dark;
        color: $color__grey--soft;
        padding: 5px 10px;
        border-radius: 4px;

        &,
        > code {
            @include font-size($size__xs);
        }
    }

    > blockquote {
        @include font-size($size__s);
        background-color: $color__grey--light;
        padding: 5px 10px;
        border-left: 4px solid $color__red;
    }

    .more-link {
        @include font-size($size__m + 8, 1);
        vertical-align: middle;
        margin-left: 2px;
        color: $color__red;
        display: inline-block;

        &:hover {
            transform: scaleX(1.1);
        }
    }

    @include breakpoint(bp-1) {
        margin-bottom: $base__spacing * 5;
    }

    @include breakpoint(bp-2) {
        > figure {
            margin-left: -140px;

            &.mr--on {
                margin-right: -140px;
            }
        }
    }

    @include breakpoint(bp-3) {
        @include font-size($size__s);

        > h2 {
            @include font-size($size__h2 / 1.2);
        }

        > h3 {
            @include font-size($size__h3 / 1.2);
        }

    }
}

.post__title {
    text-align: center;
    margin-bottom: $base__spacing--half;
    color: $color__grey;

    a {
        color: $color__grey;

        &:hover {
            color: $color__red;
        }
    }

    .page & {
        margin-bottom: $base__spacing;
    }

    @include breakpoint(bp-3) {
        @include font-size($size__h1 / 1.2);
    }
}

.post__time {
    @include font-size($size__s);
    display: block;
    font-weight: $weight__light;
    text-align: center;
    margin-bottom: $base__spacing;
    color: $color__grey--soft;

    @include breakpoint(bp-3) {
        @include font-size($size__xs);
    }
}
