/*
    Module: Post
*/

.post {
    @include font-size($size__m, 1.6);
    color: $color__grey--soft;
    margin-bottom: $base__spacing * 6;

    &:last-of-type {
        margin-bottom: $base__spacing * 5;
    }

    > figure {
        box-shadow: 0px 0px 15px 0px hsla(0, 0%, 50%, .4);

        &.shadow--none {
            box-shadow: none;
        }
    }

    > pre {
        @extend %box;
        @extend %box--grey;

        &,
        > code {
            @include font-size($size__s - 1, 1.5);
        }
    }

    > blockquote {
        @extend %box;
        @extend %box--grey;
        @include font-size($size__s, 1.5);


        > p {
            border-left: 5px solid $color__red;
            padding-left: $base__spacing--half;
        }
    }

    .more-link {
        @extend %btn;
        @include font-size($size__m + 8);
        vertical-align: middle;
        margin-left: 2px;
        padding: 0;

        &:hover {
            transform: scaleX(1.1);
        }
    }

    @include breakpoint(bp-1) {
        margin-bottom: $base__spacing * 5;
    }

    @include breakpoint(bp-2) {
        > figure {
            margin-left: -149px;
        }
    }

    @include breakpoint(bp-3) {
        @include font-size($size__s);

        > h2 {
            @include font-size($size__h2 / 1.2);
        }

        > h3 {
            @include font-size($size__h3 / 1.2);
        }

    }
}

.post--image {

    > figure {
        margin-left: 0;
        box-shadow: none;
    }
}

.post__title {
    text-align: center;
    margin-bottom: $base__spacing--half;
    color: $color__grey;

    a {
        color: $color__grey;

        &:hover {
            color: $color__red;
        }
    }

    .page & {
        margin-bottom: $base__spacing;
    }

    @include breakpoint(bp-3) {
        @include font-size($size__h1 / 1.2);
    }
}

.post__time {
    @include font-size($size__s);
    display: block;
    font-weight: $weight__norm;
    text-align: center;
    margin-bottom: $base__spacing;
    color: $color__grey--light;

    @include breakpoint(bp-3) {
        @include font-size($size__xs);
    }
}
